.choice {
  height: 15vw;
  width: 15vw;
  min-width: 100px;
  min-height: 100px;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

img {
  height: 13vw;
  width: 13vw;
  min-width: 80px;
  min-height: 80px;
  max-width: 160px;
  max-height: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* margin-top: 5rem; */
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-bottom: 5rem; /* Adjust as needed */
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
